<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ML AP</title>
 <style>
        div {
            border: 5px outset red;
            background-color: lightblue;
            text-align: center;
        }
 </style>
</head>

<body>

    <div>
        <form action="{{ url_for('predict')}}" method="post">
        
        <input type="text" name="fixed_acidity" placeholder="fixed acidity expected range 4.6 to 15.9" required="required" /><br><br>
    	<input type="text" name="volatile_acidity" placeholder="volatile acidity expected range 0.12 to 1.58" required="required" /><br><br>
        <input type="text" name="citric_acid" placeholder="citric acid expected range 0.0 to 1.0" required="required" /><br><br>
        <input type="text" name="residual_sugar" placeholder="residual sugar expected range 0.9 to 15.5" required="required" /><br><br>
        <input type="text" name="chlorides" placeholder="chlorides expected range 0.012 to 0.611" required="required" /><br><br>
        <input type="text" name="free_sulfur_dioxide" placeholder="free sulfur dioxide expected range 1.0 to 72.0" required="required" /><br><br>
        <input type="text" name="total_sulfur_dioxide" placeholder="total sulfur dioxide expected range 6.0 to 289.0" required="required" /><br><br>
        <input type="text" name="density" placeholder="density expected range 0.99007 to 1.00369" required="required" /><br><br>
        <input type="text" name="pH" placeholder="pH expected range 2.74 to 4.01" required="required" /><br><br>
        <input type="text" name="sulphates" placeholder="sulphates expected range 0.33 to 2.0" required="required" /><br><br>
        <input type="text" name="alcohol" placeholder="alcohol expected range 8.4 to 14.9" required="required" /><br><br>
        
        <br><br><button id="sub" type="submit ">Calculate the House Price</button>
        <br>


        </form>
        
      </div>

      {{prediction_text}}
    </body>
    </html>